.login-box {
	border: none;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	background-color: #fff;
}

.login-box h2 {
	margin-bottom: 20px;
	color: #730c07;
	font-size: 22px;
	font-family: "gotham-600";
}

.password-group {
	position: relative;
	margin-bottom: 20px;
}

.password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 14px;
}

.forgot-password {
	display: block;
	margin-bottom: 20px;
	color: #730c07;
	text-decoration: none;
	font-size: 12px;
	text-align: end;
}

.form-control {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.login-button {
	width: 100%;
	background-color: #d9534f;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.separator {
	height: 1px;
	background-color: #ddd;
	margin: 25px auto;
	width: 80%;
}

.register-link {
	margin-top: 20px;
	color: #a5a5a5;
	font-size: 12px;
	text-align: center;
}

.register-link a {
	font-family: "gotham-600";
	color: #730c07;
	text-decoration: none;
}
