@font-face {
	font-family: gotham-600;
	src: url("./fonts/Gotham-Bold.otf");
}
.gotham-600 {
	font-family: gotham-600;
}

@font-face {
	font-family: gotham-600-italic;
	src: url("./fonts/Gotham-BoldItalic.otf");
}
.gotham-600-italic {
	font-family: gotham-600-italic;
}

@font-face {
	font-family: gotham-500;
	src: url("./fonts/Gotham-Medium.otf");
}
.gotham-500 {
	font-family: gotham-500;
}

@font-face {
	font-family: gotham-500-italic;
	src: url("./fonts/Gotham-MediumItalic.otf");
}
.gotham-500-italic {
	font-family: gotham-500-italic;
}

@font-face {
	font-family: gotham-400;
	src: url("./fonts/Gotham-Book.otf");
}
.gotham-400 {
	font-family: gotham-400;
}

@font-face {
	font-family: gotham-400-italic;
	src: url("./fonts/Gotham-BookItalic.otf");
}
.gotham-400-italic {
	font-family: gotham-400-italic;
}

@font-face {
	font-family: gotham-300;
	src: url("./fonts/Gotham-Light.otf");
}
.gotham-300 {
	font-family: gotham-300;
}

@font-face {
	font-family: gotham-300-italic;
	src: url("./fonts/Gotham-LightItalic.otf");
}
.gotham-300-italic {
	font-family: gotham-300-italic;
}

@font-face {
	font-family: gotham-200;
	src: url("./fonts/Gotham-Thin.otf");
}
.gotham-200 {
	font-family: gotham-200;
}

@font-face {
	font-family: gotham-200-italic;
	src: url("./fonts/Gotham-ThinItalic.otf");
}
.gotham-200-italic {
	font-family: gotham-200-italic;
}
